.container{
    display: flex;
    justify-content: center;
    padding-top: 6%;
    padding-right: 500px;
}
.login footer{
    display: flex;
    justify-content: center;
}
.container h1 {
    text-align: center;
}
.container p {
    text-align: center;
}
.container h3{
    text-align:center;
    color: orange;
}
.login-footer{
    text-align: center;
    padding-right: 500px;
}