body{
    background: url(./tmhstore..jpg);
    height: 520px;
}
.container{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
}
.login footer{
    display: flex;
    justify-content: center;
}
.container h1,p {
    text-align: center;
}

.container h3{
    text-align:center;
    color: orange;
}
.container a {
    text-decoration: none;
    color: rgb(193, 250, 35);
}
.login-footer{
    text-align: center;
    padding-top: -20px;
}
.btn{
    padding: 12px 20px;
    background: red;
    border: none;
    border-radius: 3px;
    color: white;
}

.btn:hover{
    background-color: rgb(252, 142, 142);
}
svg{
    color: black;
}
.detail-login{
    padding: 12px 12px;
}
input[type='text'],input[type='password']{
    color: white;
    border: none;
    background: none;
    border-bottom: 2px dotted white;
}